<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theswiftvision.writeitdown">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>

    <application
        android:name=".utils.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WriteItDown">

        <activity android:name=".activities.AlarmDetails"
            android:showOnLockScreen="true"/>
        <activity android:name=".activities.NewReminder" />
        <activity android:name=".activities.Reminder" />
        <activity android:name=".activities.AddTask" />
        <activity
            android:name=".activities.Splash"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcastreciever.ReminderReciver" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity android:name=".activities.TaskActivity" />
        <activity android:name=".activities.MainActivity" />
    </application>

</manifest>